@charset "utf-8";
body{
  width: 100%;
}
img{
  width: 100%;
}
li{
  list-style: none;
}
a{
  color: rgb(247, 0, 255);
}
a:hover{
  opacity: 0.5;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ヘッダーの */
header{
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 80px;
  width: 100%;
  background-image: url(img/toto1.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  padding: 10px 0;
}
.link ul{
  background-color: rgba(255, 255, 255, 0.351);
  display: flex;
  justify-content: space-around;
}
.link li{
  font-weight: bold;
}
/* メインの */
.main-visuale img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.main-visuale{
  margin-bottom: 80px;
}
/* メインのプロフ */
#prof{
  text-align: center;
}
#prof .container{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: pink;
  margin: 30px 0;
  padding: 20px 0px;
  border-radius: 50px;
}
.prof-text{
  text-align: left;
  margin-left: 30px;
}
.prof-text h3{
  margin-bottom: 15px;
}
.prof-img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.agentaxis{
  display: inline-block;
  text-align: left;
  margin-bottom: 80px;
  background-color: powderblue;
  padding: 20px;
  border-radius: 8px;
}
/* メインの作品紹介 */
#introduction{
  text-align: center;
}
#introduction h3,#introduction p{
  display: inline-block;
  margin: 30px;
  padding: 10px;
  background-color: rgba(255, 200, 255, 0.685);
  border-radius: 8px;
}
#introduction img{
  width: 49%;
  object-fit: contain;
  border-radius: 10px;
  max-width: 400px;
}
#introduction .merchandise{
  margin-bottom: 80px;
}
#introduction img{
  width: 49%;
  object-fit: contain;
}
/* box */
.box{
  margin-bottom: 50px;
  padding: 20px 0;
  width: 100%;
  background-image: url(img/toto1.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

/* セクションタイトルの */
.sec-title{
  display: inline-block;
  border-bottom: pink 2px solid;
  margin-bottom: 50px;
}
/* ニュースの */
#news{
  text-align: center;
}
#news h2{
  margin: 80px 0 20px;
}
.d-box{
  display: block;
  text-align: left;
  margin: 30px 40px 50px;
}
.d-box dt{
  border-bottom: 1px solid pink;
  margin-top: 20px;
}
footer{
  text-align: center;
  background-color: silver;
}
.tekito{
  text-align: right;
  margin: 20px;
}
